.container{
	margin: auto;
	width: 40%;
	border: 3px solid #ff5c33;
	padding: 10px;
	background-color: #ffb74d;
}

body,h1,h2{
	text-align: center
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}
th, td {
    padding: 5px;
}
 table.center {
    margin-left:auto; 
    margin-right:auto;

  }